@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root{
  --pnk:#E1348B;
}
body{
  color: white;
  background-color:#0D0E14;
  position: relative;
  min-height: 100vh;
}
::-webkit-scrollbar{
  display: none;
}