@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root{
  --pnk:#E1348B;
}
body{
  color: white;
  background-color:#0D0E14;
  position: relative;
  min-height: 100vh;
}
::-webkit-scrollbar{
  display: none;
}
.radialG{
  background: radial-gradient(circle, rgba(225,52,139,0.1515056022408963) 0%, rgba(255,255,255,0) 100%);
}
.white{
  background-color: white;
}